header{
  background-color: var(--color_main_2);
  background-image: url(../../images/Bg1.svg);
  height: 57px;
  display: flex;
  align-items: center;
}

.phone{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header span, header a{
  font-size: 20px;
  color: #517898;
  font-weight: 250;
  font-family: Roboto_Refular;
}

header a{
  color: #caddea;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 250;
}

header .login_and_chat{
  display: flex;
  justify-content: space-evenly;
}

header .login, .live_chat{
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  color:  var(--color_btn_text);
  font-weight: 400;
  font-family: Roboto_Refular;
}

header .login::after{
  content: '';
  display: inline-block;
  background-image: url(../../images/Login.svg);
  background-repeat: no-repeat;
  width: 55px;
  height: 28px;
  position: relative;
  top: 5px;
}

header .live_chat::after{
  content: '';
  display: inline-block;
  background-image: url(../../images/Chat.svg);
  background-repeat: no-repeat;
  width: 55px;
  height: 28px;
  position: relative;
  top: 5px;
}


header .login:hover::after{
  background-image: url(../../images/Login2.svg)
}

header .live_chat:hover::after{
  background-image: url(../../images/Chat2.svg)
}

header .login:hover, header .live_chat:hover{
  color: var(--color_btn_text_hover);
}


